.box{
    height: 400px;
    background-color: darkgray;
    position: relative;
}
.box1{
    position: fixed;
    top: 6%;
    left: 2%;
    background-color: green;
    width: 150px;
    height: 150px;
    border: 2px solid black;

}
.box2{
    position: fixed;
    top: 0;
    right: -40px;
    background-color: green;
    width: 150px;
    height: 150px;
    border: 2px solid black;

}
.box3{                                                             
    position: fixed;
    bottom: -10px;
    right: 20px;
    background-color: green;
    width: 150px;
    height: 150px;
    border: 2px solid black;

}
.box4{
    position: fixed;
    bottom: 0;
    background-color: green;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}