.header{
    height: 95px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
}
.header_name{
    background-color: gray;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}
.navbar{
    display: flex;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     align-items: center;
     margin-right: 14%;
}
.navbar:last-child li{
    margin-left: 15px;
}
.navbar li a{
    color: gray;
    border-left: 1px solid gray;
    padding-left: 6px;
}
.main{
    display: flex;
}
.section_left{
    display: flex;
    flex-direction: column;
  width: 630px;
  margin-top: 40px;
  border: 1px solid gray;
  transform: translate(30%);
  /* height: 450px; */
  /* position: relative; */

}
 .img img{
    width: 275px;
    height: 205.5px;
    padding: 10px;
    opacity: 0.7;
    float: right;
}
 .img:hover{
    transform: scale(0.9);
    transition-duration:0.5s;
}
.img{
    margin-left: 20px;
    position: relative;
    /* float: right; */

}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.photo_p{
    position: absolute;
    bottom: 25px;
    color: #fff;
    background-color: gray;
    width: 255px;
    font-size: 18px;
    font-weight: 700;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    letter-spacing: 2px;
}

.section_left h2{
    font-size: 36px;
    color: gray;
    font-weight: 700;
    border-bottom: 3px solid gray;
    letter-spacing: 2px;
    margin: 30px 30px;
    padding-bottom: 15px;
}
.section_right{
    width: 260px;
    border: 1px solid gray;
    height: 210px;
    margin-top: 40px;
    /* display: flex; */
    transform: translate(100%);
}
.section_right h3{
    font-size: 22px;
    color: gray;
    font-weight: 700;
    border-bottom: 1px solid gray;
    letter-spacing: 2px;
    margin: 30px 30px;
    padding-bottom: 15px;
    text-align: center;
}
.section_right img{
    width: 62px;
    height: 62px;
    transform: translate(47%);
}

.footer{
    background-color: gray;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 8px solid rgb(194, 185, 185);
    margin-top: 40px;
}

.footer h4{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid gray;
    letter-spacing: 2px;
    margin: 30px 30px;
    padding-bottom: 15px;
}

